html{
scroll-behavior: smooth;

}
*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}


.conteiner__video{
    position: relative; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
     
}

.conteiner__texto{
    
    font-family: montserrat subrayada;
    border: 1px solid red;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;

    h1{
        font-size: 20vw;
    }
     h2{
         font-size: 2.5vw;
     }
     h3{
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline-block;
        margin: 1rem;
     }
     


}
.enlaces{

/* display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center; */
position: absolute;
top: 40rem;
width: 100%;
text-align: center;
a{
    margin: 0.5rem;
    font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(253, 253, 253);
    text-decoration: none;
    
    background-color: rgba(26, 25, 25, 0.685);
    padding: 0.5rem;
    border-radius: 5px;
    
    
}


}
#quienessomos{
    height: 100vh;
    color:pink;

}