html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------SECCION1--------------------SECCION 1------------ */
.conteiner__video {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

.conteiner__texto {
  font-family: montserrat subrayada;
  position: absolute;
  top: 10%;
  width: 100vw;
  text-align: center;
}

.conteiner__texto h1 {
  font-size: 20vw;
}

.conteiner__texto h2 {
  font-size: 2.5vw;
}

.conteiner__texto h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  margin: 1rem;
}

.flecha {
  padding-top: 2rem;
  margin: auto;
  text-align: center;
}

.flecha img {
  width: 5rem;
  height: 5rem;
  box-shadow: none;
}

/* ----------SECCION2-----------SECCION 2----- */
#quienessomos {
  height: 100vh;
  width: 100vw;
}

#quienessomos .texto {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 2rem;
}

#quienessomos .texto .fuente__titulo {
  font-weight: 100;
}

#quienessomos .texto .fuente__texto {
  margin-top: 2rem;
  font-weight: 200;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.container__cards {
  padding: 2rem;
  padding-bottom: 7rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin: auto;
}

.container__cards .card {
  width: 330px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  /* @media (max-width : 1300px){
          .container__cards{
              outline: 5px solid red;
              display: flex;
              flex-direction: column;

              .card{
                  outline: 5px solid green;
              }
          }
      }

    

    @media (max-width : 400px){
        .card{
             outline: 5px solid blue;
             height: 555px;
           

             h2{
                 font-size: 18px;
             }
             p{  
                 font-size: 15px;
                 
             }
        }
    } */
}

.container__cards .card:hover {
  transform: translatey(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container__cards .card img {
  width: 330px;
  height: 200px;
}

.container__cards .card h2 {
  color: black;
  font-weight: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 2rem;
}

.container__cards .card p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  padding: 2rem;
}

/* --QUE VA A TENER MI WEB--contenedor flip-------- */
.main-conteiner-flip {
  border-top: 1px solid black;
  width: 100vw;
  height: 100vh;
}

.main-conteiner-flip .texto-frontal {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  margin-top: 2rem;
}

.main-conteiner-flip .conteiner-flip {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.main-conteiner-flip .conteiner-flip:hover figure {
  transform: perspective(900px) rotateY(180deg);
}

.main-conteiner-flip .conteiner-flip figure {
  position: relative;
  transition: all ease 1s;
  transform-style: preserve-3d;
  transform: perspective(900px) rotateY(0deg);
  text-align: center;
}

.main-conteiner-flip .conteiner-flip .frontal {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 5px 2px 15px rgba(7, 3, 3, 0.274);
  transition: all ease 1s;
  display: block;
}

.main-conteiner-flip .conteiner-flip .frontal:hover {
  filter: blur(5px);
}

.main-conteiner-flip .conteiner-flip .trasera {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(170, 170, 170, 0.534);
  transition: all ease 1s;
  position: absolute;
  top: 0;
  padding: 1rem;
  color: white;
  transform: perspective(900px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;
  display: grid;
  place-items: center;
}

.main-conteiner-flip .conteiner-flip .trasera ul {
  list-style: none;
  background-color: rgba(2, 2, 2, 0.52);
  border-radius: 10px;
  padding: 1rem;
}

.main-conteiner-flip .conteiner-flip .trasera ul li {
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .main-conteiner-flip {
    width: 100vw;
    height: 65vh;
  }
  .main-conteiner-flip .conteiner-flip {
    width: 85vw;
  }
  .main-conteiner-flip .conteiner-flip .trasera ul li {
    font-size: 13px;
  }
}

/* nuestros trabajos -------------------nuestro trabajos------------- */
.trabajos {
  border-top: 1px solid black;
  width: 100vw;
  height: 70vh;
  /* @media screen and (max-width:960px){
        outline: 5px solid pink;
        height: 70vh;
         margin-top: -10rem; 
       
    } */
}

.trabajos h1 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  margin-top: 2rem;
}

.trabajos .mockup {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trabajos .mockup .img-mockup {
  width: 20vw;
  border-radius: 2px;
  box-shadow: 1px 1px 2px gray;
}

.trabajos .mockup .img-mockup-fede {
  width: 23vw;
  padding: 0.8rem;
  background-color: #080606;
  /* margin-top: 4px; */
}

.trabajos .Naty-web {
  position: relative;
}

.trabajos .Naty-web h2 {
  font-size: 1vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  color: #f7eee0;
  letter-spacing: 7px;
  text-align: center;
}

.trabajos .Naty-web .textoNegro {
  color: #121111;
}

.trabajos .Naty-web h3 {
  font-size: 1.1vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1;
  text-align: center;
  color: blanchedalmond;
}

.trabajos .text-web {
  width: 20rem;
  height: 10rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 960px) {
  .trabajos {
    height: 100vh;
  }
  .trabajos .mockup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .trabajos .mockup .img-mockup {
    width: 50vw;
    margin: 1rem;
  }
  .trabajos .mockup .img-mockup-fede {
    width: 50vw;
    margin: 1rem;
  }
  .trabajos .mockup h3 {
    font-size: 2.5vw;
  }
}

/* FOOTER--------------------FOOTER----------------------- */
.contacto {
  width: 100vw;
  height: 60vh;
  background-color: rgba(211, 210, 210, 0.678);
}

.contacto h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  text-align: center;
  color: #313130;
}

.contacto .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  width: 90vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.contacto .footer-info .mapa iframe {
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
}

.contacto .footer-info .mail {
  color: #f3f3f3;
}

.contacto .footer-info .mail a {
  padding: 5px;
  text-decoration: none;
  color: rgba(214, 210, 210, 0.979);
  font-family: -apple-system, BlinkMacSystemFont,  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 960px) {
  .contacto {
    margin-top: 26rem;
    width: 100vw;
    height: 70vh;
  }
  .contacto .footer-info {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
  }
  .contacto iframe {
    width: 240px;
    height: 150px;
  }
}

@media (max-width: 550px) {
  .contacto {
    margin-top: 7rem;
    height: 100vh;
  }
  .contacto .footer-info {
    height: 80vh;
  }
}

@media (max-width: 400px) {
  .contacto {
    margin-top: -5rem;
  }
}
/*# sourceMappingURL=estilos.css.map */