html{
scroll-behavior: smooth;

}
*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}


.conteiner__video{
    position: relative; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
     
}

.conteiner__texto{
    
    font-family: montserrat subrayada;
    border: 1px solid red;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;

    h1{
        font-size: 20vw;
    }
     h2{
         font-size: 2.5vw;
     }
     h3{
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline-block;
        margin: 1rem;
     }

     a{
         padding: 2rem;
     }
     


}
.enlaces{

 display: flex;
flex-direction: row;

justify-content: space-around;
align-items: center; 


a{
    text-decoration: none;
    color: white;
    background-color: rgb(56, 56, 56);
    padding: 0.5rem;
    margin: 2rem;
    font-family: sans-serif;
    letter-spacing: 2px;
    border-radius: 5px;
    box-shadow:  5px 5px 5px rgba(182, 182, 182, 0.651);
    

     
}
}



#quienessomos{
    height: 100vh;
    color:pink;
    h1{
        text-align: center;
        padding: 3rem;
        
    }
    h2{width: 50%;
     height: 50%;
     margin: auto;
    

    }


    .imagenes{
 margin-top:3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        img{
            border-radius: 5px;
            box-shadow: 5px 5px 5px  rgb(179, 179, 179);

        }
       
    }
}
    
          










#nuestrosprofesionales{
    height: 100vh;
    color: gray;
    
}