html{
scroll-behavior: smooth;

}
*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

/* .fuente__titulo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1;
} */

/* -------------SECCION1--------------------SECCION 1------------ */
.conteiner__video{
    position: relative; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
     
}

.conteiner__texto{
    
    font-family: montserrat subrayada;
    
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;

    h1{
        font-size: 20vw;
    }
     h2{
         font-size: 2.5vw;
     }
     h3{
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline-block;
        margin: 1rem;
     }

    
}
.flecha{
 padding: 5rem;
  margin: auto;
  text-align: center;
  
}




/* ----------SECCION2-----------SECCION 2----- */

#quienessomos{
   
    
    height: 100vh;
    width: 100vw;
    
    h1{ 
       
        text-align: center;
        padding: 2rem;
        
    }
    .texto{ 
       
        padding: 1rem;
       
     
    

    }
}

.container__cards{
    
    padding: 2rem;
    padding-bottom: 7rem;
    width: 100wh;
   /*  max-width: 1200px; */
   /*  height: 100vh; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    

.card{
    width: 330px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    

    &:hover{
        transform: translatey(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    img{
        width: 330px;
        height: 200px;
    }
    h2{
     color: black;
     font-weight: 1;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin-top: 2rem;
    }
    p{
         margin-top: 3rem;
        color: black;
        padding: 2rem;
      }
    

    }
}

    

/* -----------SECCION 3------Programacion--------SECCION 3--------- */

#sitio__web{
    outline:3px solid rgb(0, 162, 255);
    height:100vh;
    width: 100vw; 
    position: relative;

    .titulo-web{
        position: absolute;
        right: 30rem;
        top: 4rem;
        .fuente__titulo{
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 1;
        }
    }

    .imagen-sitioweb{
       img{
           width: 32.5rem;
           margin-left: 3rem;
           margin-top: 3rem;
           border-radius: 6px;
           box-shadow: 2px 2px 3px rgba(201, 201, 201, 0.897);
       }
    }
    .txt-sitioweb{
      border-radius: 2px;
      box-shadow: 2px 2px 2px grey;
      background-color: rgba(255, 255, 255, 0.521);
        width: 18rem;
        position:absolute;
        right: 650px;
        top: 40px;

        .txt__web{
            padding: 2rem;
        }
    }


}


    
/* DISEño----------------------DISEñO----------------- */
    .conteiner__diseño{
        
        width: 100wh;
        
        position: relative;

        #diseño{
            
            width: 200px;
            height: 100px;
            position: absolute;
            bottom: 300px;
            left:200px;
            padding:2rem;
            border-left:1px solid black;
            
            .titulo__diseño{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 1;
            }
        }

        .imagen__diseño{
           
            
            
        img{
                width: 50%;
                margin-left: 30rem;
                border-radius: 5px;
                box-shadow: 3px 3px 5px gray;
                
                
                
                 }
        }

 .textos__diseño{
     background-color: rgba(255, 255, 255, 0.651);
     border-radius: 15px;
     box-shadow: 1px 1px 3px rgb(175, 175, 175);
     width: 400px;
     height:200px ;
     position: absolute;
     left: 1300px;
     top:250px;
     padding: 1rem;
 }
    }
    
 





 /*  .conteiner__sitioweb{
       display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

.imagen__sitioweb{
    padding-top: 10rem;
    img{
        width: 80vh;
        border-radius: 5px;
        box-shadow: 2px 2px 3px rgba(155, 150, 150, 0.623);

    }
}
 .textos__sitioweb{
          width: 500px ;
          padding-top: 15rem;
      }

}

 */
  
    
     

/* DISEñO---------------DISEñO------------- */

   
/* #diseño{
    
    height: 100vh;
    width: 100wh; 

    img{
        margin-bottom: 20rem;
    }

}




#fotografia{
   
    height: 100vh;
    width: 100wh; 
}
 */


/* nuestros trabajos -------------------nuestro trabajos------------- */


.trabajos{
    
    width:100wh;
    height: 100vh;
    margin-top: 15rem;

h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1;
}



.mockup{
   
    margin-top: 5rem;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
  

  
}
img{
    padding: 0.5rem;
    width: 30vh;
    border-radius: 2px;
    box-shadow: 2px 2px 2px gray;
    transition: all 0.25s;

    &:hover{
        transform: translatey(-5%);
    }
    
}

}

/* FOOTER--------------------FOOTER----------------------- */
.contacto{
    width: 100%;
    height: 30%;
    /* background-color: rgba(247, 241, 241, 0.952); */
     h2{
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: 100;
         text-align: center;
         
     }
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    img{
        padding: 5rem;
      
    }
}

.mail{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1;
}

