#diseño{
    background-image:url(img/line.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed; 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


    .imagen-diseño{
            img{
        width:500px;
        height: auto;
        
        border-radius: 3px;
        box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.596);
    }
}
    .txt-diseño{
        width:300px;
        font-family: $font-text; /* variable declarada en seccion programacion */
        
    }

    .titulo-diseño{
        margin-top: 2rem;

        .fuente__titulo{
        @include titlestyle;
        
        }
    }

}