#diseño{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


    .imagen-diseño{
            img{
        width:25vw;
        height: auto;
        
        border-radius: 3px;
        box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.596);
    }
}
    .txt-diseño{
        width:25vw;
        font-family: $font-text; /* variable declarada en seccion programacion */
        
    }

    .titulo-diseño{
        margin-top: 2rem;

        .fuente__titulo{
        @include titlestyle;
        
        }
    }
    @media (max-width : 1200px){
        flex-direction: column;
               .imagen-diseño{
                   img{
                       width: 50vw;
                   }
               }
               .txt-diseño{
                   width: 50vw;
               }
        
    }
}