#fotografia{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    img{
        width: 500px;
        height: auto;
        border-radius: 3px;
        box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.678);
         
    }

    .txt-foto{
        width: 300px;
        font-family: $font-text;
        
    }
    .fuente__titulo{
        @include titlestyle;
        
    }
}